.purple {
    color: #5A00FF;
}

.Header	{
	color: #ffa64d;
}

#Wrapper{
	width: 60%;
	Height: 600px;
	border-radius: 25px;
	border: 1px solid black;
}

div	{
	overflow: auto;
	margin: auto;
	background-color: #00e68a;

}

#Header {
	height: 80px;
	background-color: #001a4d;
	text-align: center;
	border-radius: 25px 25px 0px 0px;
	border: 2px solid black;
	
}



#h1	{
	
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
   


#answer-display {
  background-color: #000;
}

#answer-display:hover {
  color: #fff;
}