.purple {
    color: #5A00FF;
}

.Header	{
	color: #ffa64d;
}

#Header {
	height: 50px;
	width: 300px;
	float: center;
	background-color: #001a4d;
	
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

#answer-display:hover {
  color: #fff;
}